.little-book {
	counter-reset: -little-book-page;
	width: 29.7cm;
	height: 21cm;
	position: absolute;
	top: 0;
	left: 0;
}

.little-book > section {
	position: absolute;
	height: 50%;
	width:  25%;
	border: 1px solid #ccc;
	box-sizing: border-box;
	overflow: hidden;
	margin: -1px;
}

.little-book > section:after {
	counter-increment: -little-book-page;
	content: counter(-little-book-page);
	font-size: 0.8em;
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 1em;
	margin-left: -0.5em;
}

.little-book > :first-child:after {
	content: '';
}

.little-book > :nth-child(4),
.little-book > :nth-child(5),
.little-book > :nth-child(6),
.little-book > :nth-child(7) {
	transform: rotate(180deg);
}

.little-book > :nth-child(1),
.little-book > :nth-child(2),
.little-book > :nth-child(5),
.little-book > :nth-child(6) {
	border-bottom-style: dotted;
}

.little-book > :nth-child(1) {
	top: 0;
	left: 25%;
}

.little-book > :nth-child(2) {
	top: 0;
	left: 50%;
}

.little-book > :nth-child(3) {
	top: 0;
	left: 75%;
}

.little-book > :nth-child(4) {
	top: 50%;
	left: 75%;
}

.little-book > :nth-child(5) {
	top: 50%;
	left: 50%;
}

.little-book > :nth-child(6) {
	top: 50%;
	left: 25%;
}

.little-book > :nth-child(7) {
	top: 50%;
	left: 0;
}

.little-book > :nth-child(8) {
	top: 0;
	left: 0;
}

