---
---

body {
  background-image: -webkit-linear-gradient(top, rgb(96, 108, 136), rgb(63, 76, 107))
}

.little-book {
  height: 100vh;
  width: 100vw;

  transition: transform 1s, perspective-origin 1s;
  perspective: 2000px;
  perspective-origin: 50% 50%;
  transform: translateX(3.1725cm);

  &[data-page="1"] {
    perspective-origin: 100% 50%;
    transform: none;
  }

  &[data-page="5"] {
    transform: translateX(7.425cm);
  }
}

$start-angle: -10deg;
$start-step: 2deg;

.little-book > section {
  width:  7.425cm;
  height: 10.5cm;

  top:  50%;
  left: 50%;
  margin-top: -5.25cm;
  margin-left: -3.1725cm;

  background: #efebe9;
  cursor: pointer;

  transition: transform 1s, box-shadow 1s, z-index 1s;
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
  transform-origin: 0 50%;
  backface-visibility: hidden;

  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0.07);

  transform: rotateY($start-angle);
}

.little-book > :nth-child(even) {
  transform: rotateX(180deg) rotateZ(180deg) rotateY($start-angle) translateX(-100%);
}

@mixin fan($start, $step) {
  transform: rotateY($start);

  @for $i from 2 through 8 {
    ~ :nth-child(#{$i}) {
      $even: (($i + 1) % 2);
      transform:
        rotateX(180deg * $even) rotateZ(180deg * $even)
        rotateY($start + floor(($i - 1) / 2) * $step)
        translateX(-100% * $even);
    }
  }
}

.little-book[data-page="1"] > :first-child {
  @include fan($start-angle, $start-step);

  &:hover {
    transform: rotateY($start-angle - 3deg);
    box-shadow: 2px 0 10px rgba(0,0,0,0.1);
  }
}

@for $p from 2 through 5 {
  @for $i from 1 through ($p - 1) * 2 {
    .little-book[data-page="#{$p}"] > :nth-child(#{$i}) {
      $even: (($i + 1) % 2);
      transform: 
        rotateX(180deg * $even) rotateZ(180deg * $even)
        rotateY(-180deg - $start-angle)
        translateX(-100% * $even);

      z-index: 12 + $i;
    }
  }
}

@for $i from 1 through 8 {
  .little-book > :nth-child(#{$i}) {
    z-index: 21 - $i;
  }
}
