.little-book {
	counter-reset: page;
}

.little-book > section {
	position: absolute;
	height: 10.5cm;
	width:  7.425cm;
	border: 1px solid #ccc;
	box-sizing: border-box;
	padding: 10px;
}

.little-book > section:after {
	counter-increment: page;
	content: counter(page);
}

.little-book > :first-child:after {
	content: '';
}

.little-book > :nth-child(6),
.little-book > :nth-child(7),
.little-book > :nth-child(8) {
	transform: rotate(180deg);
}

.little-book > :nth-child(3),
.little-book > :nth-child(4),
.little-book > :nth-child(7),
.little-book > :nth-child(8) {
	border-top-style: dashed;
}

.little-book > :nth-child(1) {
	top: 0;
	left: 0;
}

.little-book > :nth-child(2) {
	top: 10.5cm;
	left: 0;
}

.little-book > :nth-child(3) {
	top: 10.5cm;
	left: 7.425cm;
}

.little-book > :nth-child(4) {
	top: 10.5cm;
	left: 14.85cm;
}

.little-book > :nth-child(5) {
	top: 10.5cm;
	left: 22.275cm;
}

.little-book > :nth-child(6) {
	top: 0;
	left: 22.275cm;
}

.little-book > :nth-child(7) {
	top: 0;
	left: 14.85cm;
}

.little-book > :nth-child(8) {
	top: 0;
	left: 7.425cm;
}

