<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Little Book</title>
<link rel="stylesheet" href="css/common.css">
<link rel="stylesheet" href="css/screen.css" media="only screen">
<link rel="stylesheet" href="css/print.css" media="only print">
<link rel="stylesheet" href="css/theme.css">
</head>
<body>
{{ content }}
</body>
<script>
var $ = document.querySelector.bind(document);

function closest(selector, el) {
	while(el = el.parentNode) {
		if(el.matches(selector)) {
			return el;
		}
	}
}

$('.little-book').addEventListener('click', function(ev) {
	var target = closest('.little-book > section', ev.target);
	var page = +$('.little-book').getAttribute('data-page') || 1;
	var even = target.matches(':nth-child(even)');
	var next = page + (even ? -1 : 1);
	
	if(1 <= next && next <= 5) {
		navigate(next);
	}
});

window.addEventListener('hashchange', hashChange);
hashChange();

function hashChange() {
	changePage(+location.hash.substr(1) || 1);
}

function changePage(page) {
	$('.little-book').setAttribute('data-page', page);
}

function navigate(page) {
	location.hash = '#' + page
}
</script>
</html>
